{% extends "form_layout_wide.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block fieldset %}
<fieldset>
    <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
    <div class="w3-col w3-third">
        <p class="w3-row" >{{ input_field(rec.name,"name",req=True)}}</p>
        <p class="w3-row " >{{ select_field("cat_id","Category", req=True) }}
                <option value="0" ><em>Select One...</em></option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if rec.cat_id | int == category.id %}selected{% endif %} >{{ category.name}}</option>
                {% endfor %}
            </select>
        </p>
    </div>
    <div class="w3-col w3-third">
        <p class="w3-row">{{ select_field("uom","Unit of Measure") }}
                    <option value="" ><em>None</em></option>
                    {% for uom in uoms %}
                    <option value="{{ uom.name }}" {% if rec.uom == uom.name %}selected{% endif %} >{{ uom.name}}</option>
                    {% endfor %}
            </select>
        </p>
        <p class="w3-row">{{ input_field(rec.min_stock,'min_stock',label="Minimum Stock")}}</p>
    
    </div>
    <p class="w3-row w3-twothird" >{{ input_field(rec.description,"description")}}</p>
<div  id="transactions_and_transfers">
    {% include "trx_and_transfer_lists.html" %}
</div>
</fieldset>

<!-- <div w3-panel>&nbsp;</div> -->
{% endblock fieldset %}
