{% extends "form_layout_wide.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block fieldset %}
<h4 class="w3-panel w3-primary-color" id="item-QOH">Quantity On Hand: <span id="item-QOH-value" >{{on_hand | default("0", True) }}</span></span></h4>
<div class="w3-contain">
    <fieldset class="w3-col s12 m6 l6 w3-left">
        <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
        <p>{{ input_field(rec.name,"name",req=True)}}</p>
        <p>{{ input_field(rec.description,"description")}}</p>
        <p>{{ select_field("cat_id","Category", req=True) }}
                <option value="0" ><em>Select One...</em></option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if rec.cat_id == category.id %}selected{% endif %} >{{ category.name}}</option>
                {% endfor %}
            </select>
        </p>
        <p>{{ select_field("uom","Unit of Measure") }}
                    <option value="" ><em>None</em></option>
                    {% for uom in uoms %}
                    <option value="{{ uom.name }}" {% if rec.uom == uom.name %}selected{% endif %} >{{ uom.name}}</option>
                    {% endfor %}
            </select>
        </p>
        <p>{{ input_field(rec.min_stock,'min_stock',label="Minimum Stock")}}</p>
        </p>
    
    </fieldset>
</div>

<div class="w3-col w3-hide-small w3-left" style='width:4%'>&nbsp;</div>
<div class="w3-col s12 m5 l5">
    <div class="w3-contain">
        <div id="trx_list" class="w3-card-4">
            <h3>Transactions</h3>
            {{ transactionList | safe }}
        </div>
    </div>
    <div class="w3-contain">
        <div id="trx_list" class="w3-card-4">
            <h3>Transfers</h3>
            {{ transferList | safe }}
        </div>
    </div>
</div>

<div w3-panel>&nbsp;</div>
{% endblock fieldset %}
