{# Form body for transaction editing #}
{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

<fieldset>
	<input type=hidden name="id" value="{{rec.id|default('0',True )}}">
	<input type=hidden name="item_id" value="{{rec.item_id|default('0',True )}}">
    <h3 class="w3-container w3-panel w3-primary-color">Transfer {{item.name}}</h3>
    <p><span>Transfer Qty:</span><input type="num" size="5" name="transfer_qty" required value="{{ transfer_qty |default('0',True )}}" /></p>
    <div id="normal-warehouse">
        <p>
            {{ select_field("warehouse_out_id","From Warehouse") }}
                    <option value="-1">Select From Warehouse</option>
                    {% for warehouse in warehouses %}
                    <option value="{{ warehouse.id }}" {% if rec.warehouse_out_id == warehouse.id %}selected{% endif %} >{{ warehouse.name}}</option>
                    {% endfor %}
            </select>
        </p>
    </div>
    <div id="normal-warehouse">
        <p>
            {{ select_field("warehouse_in_id","Receiving Warehouse") }}
                    <option value="-1">Select Receiving Warehouse</option>
                    {% for warehouse in warehouses %}
                    <option value="{{ warehouse.id }}" {% if rec.warehouse_in_id == warehouse.id %}selected{% endif %} >{{ warehouse.name}}</option>
                    {% endfor %}
            </select>
        </p>
    </div>
</div>
</fieldset>
