{# Form body for transaction editing #}
{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}


<fieldset>
	<input type=hidden name="id" value="{{rec.id|default('0',True )}}">
	<input type=hidden name="item_id" value="{{rec.item_id|default('0',True )}}">
    <h3 class="w3-container w3-panel w3-primary-color">Transfer {{item.name}}</h3>
    <div class="w3-row">
        {% set transfer_date = rec.transfer_date | local_date_string %}
        <p class="w3-col w3-half">{{ input_field(transfer_date,'transfer_date',
            id='transfer_date',
            placeholder='MM/DD/YY',
            extras='onfocus="set_date_pickers(\'%c/%e/%y\')"',
            )}}
        </p>
        <p class="w3-col w3-half" style="padding-left:3pt;">{{ input_field(rec.qty,'qty',default='0')}}</p>
    </div>
    <div id="normal-warehouse">
        <p>
            {{ select_field("warehouse_out_id","From Warehouse") }}
                    <option value="-1">Select From Warehouse</option>
                    {% for warehouse in warehouses %}
                    <option value="{{ warehouse.id }}" {% if warehouse_out_id == warehouse.id %}selected{% endif %} >{{ warehouse.name}} Qty: {{ warehouse.qoh}}</option>
                    {% endfor %}
            </select>
        </p>
    </div>
    <div id="normal-warehouse">
        <p>
            {{ select_field("warehouse_in_id","Into Warehouse") }}
                    <option value="-1">Select Receiving Warehouse</option>
                    {% for warehouse in warehouses %}
                    <option value="{{ warehouse.id }}" {% if warehouse_in_id == warehouse.id %}selected{% endif %} >{{ warehouse.name}} Qty: {{ warehouse.qoh}}</option>
                    {% endfor %}
            </select>
        </p>
    </div>
</div>
</fieldset>

<script>
    // setup the date picker
    var date_format = "%c/%e/%y"; // "3/4/19"
    var pickers = ["#transfer_date"]
    
    function set_date_pickers(format){
        for( i = 0;i<pickers.length;i++){
            $(pickers[i]).AnyTime_noPicker().AnyTime_picker({ format: format } );                
        }
    }
    set_date_pickers(date_format);
</script>
