{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}
    <div class="w3-col m1 l1 w3-hide-small">&nbsp;</div>
    <div class="w3-col s12 m10 l10">
      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new record</a></p>
	{%if recs %}
		<table class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th class="w3-hide-small">Id</th>
            <th>Item</th>
			<th>Date</th>
            <th>Qty</th>
            <th>Value</th>
			<th class="w3-hide-small">Note</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" class="w3-hide-small">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" >{{ item[rec.item_id]|default("None",true) }}</a></td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" >{{ rec.created|default('None') | short_date_string }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" >{{ rec.qty|default("0",true) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" >{{ rec.value|default("0.00",true)|money() }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" class="w3-hide-small">{{ rec.note|default("",true) }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
    </div>
    <div class="w3-panel">&nbsp;</div>
{% endblock %}

