<p><a class="script-link" href="javascript:void(0)" onclick="editFromList('{{url_for('transaction.edit_from_list')}}0/{{item_id}}/')">Add Transaction...</a></p>
{% if trxs %}
    <table class="w3-table w3-small">
    <tr class=w3-primary-color>
        <th>Date</th>
        <th>Qty</th>
        <th>Type</th>
        <th class="w3-hide-medium w3-hide-small">Value</th>
        <th>Actions</th>
    </tr>
    {% for trx in trxs %}
        <tr id="trx-{{trx.id}}">
            <td style="vertical-align:middle;">{{trx.created | short_date_string }}</td>
            <td style="text-align:right;vertical-align:middle;">{{trx.qty | money() }}</td>
            <td style="vertical-align:middle;" >{{ trx.trx_type }}</td>
            <td  class="w3-hide-medium w3-hide-small" style="text-align:right;vertical-align:middle;">{{ trx.value | money() }}</td>
            <td><span class="w3-btn w3-ripple w3-primary-color w3-mobile w3-round-large" onclick="editFromList('{{ url_for('transaction.edit_from_list')}}{{ trx.id }}/','trx_list')">Edit</span></td>
        </tr>
    {% endfor%}
    </table>
{% else %}
    <p>No Transactions to list...</p>
{% endif %}

<script type="text/javascript">
    function update_stock_on_hand(){
        $("#item-QOH-value").load("{{ url_for('item.get_stock_on_hand')}}{{item_id | default("0", True)}}/");
    }
    update_stock_on_hand();
</script>
