 <div class="w3-row">
    <div id="qoh_list" class="w3-row w3-third w3-card-2" style="padding-left:3pt">
         <h3>Quantity on Hand: {{ on_hand | default(0) }}</h3>
        {% if qoh_list %}
        <p><strong>By Warehouse...</strong></p>
        {% for rec in qoh_list %}
        <p>&nbsp;&nbsp;{{ rec.name }}: {{ rec.qty }}</p>
        {% endfor %}
        {% else %}
        <p>No product on hand</p>
        {% endif %}
    </div>
 </div>
    <hr>
    <div class="w3-row">
        <div id="trx_list" class="w3-col w3-half ">
            <h3>Transactions</h3>
            <div style="padding-right:3pt;border-right:1pt solid #666;">
            {{ transactionList | safe }}
            </div>
        </div>
        <div id="transfer_list" class="w3-col w3-half">
            <h3 >Transfers</h3>
            <div style="padding-left:3pt;">
            {{ transferList | safe }}
            </div>
        </div>
    </div>
