<p><span class="script-link" onclick="editFromList('{{url_for('transaction.edit_from_list')}}0/{{item_id}}/')">Add Transaction...</span></p>
{% if trxs %}
    <table>
    <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Value</th>
        <th colspan="2">Actions</th>
    </tr>
    {% for trx in trxs %}
        <tr id="trx-{{trx.id}}">
            <td>{{trx.created | short_date_string }}</td>
            <td style="text-align:right;">{{trx.qty | money() }}</td>
            <td style="text-align:right;">{{ trx.value | money() }}</td>
            <td><span class="script-link" onclick="$.ajaxSetup({'async' : false});deleteFromList('{{ url_for('transaction.delete_from_list')}}{{ trx.id }}/','trx-{{trx.id}}');update_stock_on_hand();">delete</span></td>
            <td><span class="script-link" onclick="editFromList('{{ url_for('transaction.edit_from_list')}}{{ trx.id }}/','trx_list')">edit</span></td>
        </tr>
    {% endfor%}
{% else %}
    <p>No Transactions to list...</p>
    </table>
{% endif %}

<script type="text/javascript">
    function update_stock_on_hand(){
        $("#item-QOH-value").load("{{ url_for('item.get_stock_on_hand')}}{{item_id | default("0", True)}}/");
    }
    update_stock_on_hand();
</script>
