{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}
    <div class="w3-col m3 l3 w3-hide-small">&nbsp;</div>
    <div class="w3-col s12 m6 l6">
      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new record</a></p>
	{%if recs %}
		<table class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th class="w3-hide-small">Id</th>
			<th>Name</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" class="w3-hide-small">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.name }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
    </div>
    <div class="w3-panel">&nbsp;</div>
{% endblock %}

