<!-- a simple tool to help in debugging layout issues -->

<div class="w3-row">
  <div class="w3-col m1 w3-center w3-grey">1</div>
  <div class="w3-col m1 w3-center">2</div>
  <div class="w3-col m1 w3-center w3-grey">3</div>
  <div class="w3-col m1 w3-center">4</div>
  <div class="w3-col m1 w3-center w3-grey">5</div>
  <div class="w3-col m1 w3-center">6</div>
  <div class="w3-col m1 w3-center w3-grey">7</div>
  <div class="w3-col m1 w3-center">8</div>
  <div class="w3-col m1 w3-center w3-grey">9</div>
  <div class="w3-col m1 w3-center">10</div>
  <div class="w3-col m1 w3-center w3-grey">11</div>
  <div class="w3-col m1 w3-center">12</div>
</div>

